In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Load and read the datasets 
athlete_events = pd.read_csv('/Users/mrs.williams/Desktop/Data Science Project 2/archive 2/athlete_events.csv')
noc_regions = pd.read_csv('/Users/mrs.williams/Desktop/Data Science Project 2/archive 2/noc_regions.csv')

# Merge the datasets on the 'NOC' column
merged_data = athlete_events.merge(noc_regions, on='NOC', how='left')

# Display the first few rows of the merged dataset
print(merged_data.head())

# Check for missing values in the 'region' column
missing_regions = merged_data['region'].isnull().sum()
print(f"Missing regions: {missing_regions}")

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal       region notes
0       Basketball Men's Basketball   NaN        China   NaN
1      Judo Men's Extra-Lightweight   NaN        China   NaN
2           Football Men's Football   NaN      Denmark   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold      Denmark   NaN
4  Speed Skating Women's 500 metres   NaN  Netherlands   NaN
Missing regions: 370

In [7]:
# Check for missing values
missing_values = merged_data.isnull().sum()
print("Missing values before cleaning:\n", missing_values)

# Drop irrelevant columns (such as 'notes')
cleaned_data = merged_data.drop(columns=['notes'])

# Handle missing values for 'Medal'
cleaned_data['Medal'] = cleaned_data['Medal'].fillna('No Medal')

# Remove duplicate rows
cleaned_data = cleaned_data.drop_duplicates()

# Standardize text data (lowercase for consistency)
cleaned_data['Sex'] = cleaned_data['Sex'].str.lower()
cleaned_data['Sport'] = cleaned_data['Sport'].str.lower()

# Add a binary column for medal presence
cleaned_data['Medal_Won'] = cleaned_data['Medal'].apply(lambda x: 0 if x == 'No Medal' else 1)

# Check for missing values after cleaning
missing_values_after_cleaning = cleaned_data.isnull().sum()
print("Missing values after cleaning:\n", missing_values_after_cleaning)

print(cleaned_data.head())

Missing values before cleaning:
 ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
region       370
notes     266077
dtype: int64
Missing values after cleaning:
 ID               0
Name             0
Sex              0
Age           9315
Height       58814
Weight       61527
Team             0
NOC              0
Games            0
Year             0
Season           0
City             0
Sport            0
Event            0
Medal            0
region         370
Medal_Won        0
dtype: int64
   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   m  24.0   180.0    80.0           China
1   2                  A Lamusi   m  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   m  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   m  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   f  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     basketball
1  CHN  2012 Summer  2012  Summer     London           judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       football
3  DEN  1900 Summer  1900  Summer      Paris     tug-of-war
4  NED  1988 Winter  1988  Winter    Calgary  speed skating

                              Event     Medal       region  Medal_Won
0       Basketball Men's Basketball  No Medal        China          0
1      Judo Men's Extra-Lightweight  No Medal        China          0
2           Football Men's Football  No Medal      Denmark          0
3       Tug-Of-War Men's Tug-Of-War      Gold      Denmark          1
4  Speed Skating Women's 500 metres  No Medal  Netherlands          0